<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Sửa hóa đơn</title>

<!-- Mobile Specific Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Font-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/roboto-font1.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-5/css/fontawesome-all.min.css}">
<!-- Main Style Css -->
<link rel="stylesheet" href="/css/sua.css" />
<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{css/table.css}">

</head>
<script type="text/javascript">
	function test() {
		var abc = document.getElementById("full-name").value;
		alert("Typed text is: " + abc);
		return false;
	}
</script>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail"
				th:action="@{http://localhost:8080/admin/hoadon/save}"
				th:object="${hoadon}" method="POST">
				<h2>Sửa Thông Tin Hóa Đơn</h2>
				<div class="form-row">
					<input type="hidden" th:value="${listHoaDon.maHD}" name="maHD">
				</div>
				<div class="form-row">
					<label for="full-name">Ngày Đặt hàng</label> <input type="date"
						name="sdt" id="ngaydat" class="input-text" 
						required th:value="${listHoaDon.ngayLapDat}"> <i
						class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="form-row">
					<label for="full-name">Ngày Giao hàng</label> 
					<input type="date"
						name="sdt" id="ngaygiao" class="input-text" 
						required th:value="${listHoaDon.ngayLapGiao}"> <i
						class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="form-row">
					<label for="full-name">SĐT Người nhận</label> <input type="text"
						name="sdt" id="sdt" class="input-text" placeholder="Số điện thoại"
						required th:value="${listHoaDon.sdtNguoiNhan}"> <i
						class="fa fa-phone" aria-hidden="true"></i>
				</div>
				<div class="form-row">
					<label for="full-name">Ghi chú</label> <input type="text"
						name="diaChi" id="diaChi" class="input-text" placeholder="Địa chỉ"
						required th:value="${listHoaDon.ghiChu}"> <i
						class="fas fa-home" aria-hidden="true"></i>
				</div>
				<div class="form-row">
					<label for="full-name">Tên Người nhận</label> <input type="text"
						name="tenKH" id="full-name" class="input-text"
						placeholder="Tên người nhận" required
						th:value="${listHoaDon.nguoiNhan}"> <i class="fas fa-user"
						aria-hidden="true"></i>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register"
						value="Cập nhật">
				</div>
			</form>
		</div>
	</div>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>